<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keys</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Coupang</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container-fluid mt-5">
    <h2>상품 목록</h2>
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-success" onclick="location.href='./add'">상품 생성하기</button>
    </div>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>상품명</th>
            <th>가격</th>
            <th>재고 수량</th>
            <th>생성 일자</th>
            <th>수정 일자</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product, iterStat : ${products.productList}">
            <td><a th:href="@{'/products/' + ${product.id}}" th:text="${product.name}">name</a></td>
            <td th:text="${product.price}">price</td>
            <td th:text="${product.stock}">stock</td>
            <td th:text="${product.createdAt}">createdAt</td>
            <td th:text="${product.updatedAt}">updatedAt</td>
            <td>
                <button class="btn btn-danger" th:onclick="confirmDelete([[${product.id}]])">삭제하기</button>
                <button class="btn btn-warning" th:onclick="location.href='./edit/' + [[${product.id}]]">수정하기</button>
                <button class="btn btn-info" th:onclick="location.href='./' + [[${product.id}]]">상세 보기</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function confirmDelete(id) {
        if (confirm('정말 삭제하시겠습니까?')) {
            location.href = './delete/' + id;
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
