<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">
    <select id="findAll" resultType="product">
        select * from product order by createdAt desc
    </select>
    <select id="add">
        insert into product (name, price, stock, description)
        values
            (#{name}, #{price}, #{stock}, #{description})
    </select>
    <select id="findById" resultType="product">
        select * from product where id = #{id}
    </select>
</mapper>